{
  https_port 11310
}

<RELAY-IP> {
  tls {
        dns internal
    }

  reverse_proxy https://baidu.com {
    header_up Host {upstream_hostport}
  }

  handle_path /science {
      reverse_proxy v2ray:11310
  }
}
