{
  https_port 11310
}

https://<RELAY-IP> {
  reverse_proxy https://baidu.com {
    header_up Host {upstream_hostport}
    header_up X-Forwarded-Host {host}
  }

  handle_path /science {
      reverse_proxy v2ray:11310
  }
}
